.c-cart__cart {
  background-color: #0B5FFF;
  color: white;

  & a {
    color: white;
  }

  & .c-cart__item__counter {
    background-color: #ffc107;
    border-radius: 10rem;
    color: #0B5FFF;
    font-size: 1.25rem;
    line-height: 1.50rem;
    margin: 0;
    padding: 3px 6px;
    position: absolute;
    right: 18px;
    text-align: center;
    top: 18px;
    z-index: 999;
  }
}