.section-content,
.detail-content {
  @include container-styles-large;

  .prose--app {
    ol,
    ul {
      li {
        p {
          margin-bottom: 0;
        }
      }
    }

    a {
      @include reset-font;

      &:hover {
        picture {
          &:before {
            opacity: 1;
          }
        }
      }

      picture {
        @extend %image-link-gradient;
      }
    }

    u {
      text-decoration: none;
    }

    table {
      p {
        margin-bottom: 0;
      }
    }

    img {
      width: auto;
    }

    cite {
      @include figcaption-styles;
    }

    .font-medium {
      font-weight: 500;
    }

    .text-theme-secondary {
      color: var(--text-secondary);
    }
  }
}

@media (min-width: 1024px) {
  .section-content,
  .detail-content {
    .prose--app {
      .lg\:text-lg {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}
