		<img src="cid:banner" />


		<h2>Dear [$FIRSTNAME$],</h2>

		<p>
			You have registered for the following event at the [$EVENT$]:
		</p>

		<table style="width: 900px;">
			<tr>
				<td class="type">Name</td>
				<td>[$RESERVATION$]</td>
			</tr>

			<tr>
				<td class="type">Type</td>
				<td>[$TYPE$]</td>
			</tr>

			<tr>
				<td class="type">Room</td>
				<td>[$ROOM$}</td>
			</tr>

			<tr>
				<td class="type">Date</td>
				<td>
				[$DATE$]
				</td>
			</tr>

			<tr>
				<td class="type">Time</td>
				<td>[$TIME$]</td>
			</tr>

		</table>

		<p>
			Please note that date and time might change, so please keep an eye on the  <a href="[$SITEURL$]">website</a>.
			Have you already booked your seat on the bus? You can find this option on the home page of our scheduler next to the sign in button.
		</p>











		<br />
		<img src="cid:footer" />