		<img src="cid:banner" />


		<h2>Dear [$FIRSTNAME$],</h2>

		<p>
			You have unregistered for the following event at the [$EVENT$]:
		</p>

		<table style="width: 900px;">
			<tr>
				<td class="type">Name</td>
				<td>[$RESERVATION$]</td>
			</tr>
        </table>










		<br />
		<img src="cid:footer" />