
#banner {


  .statement {
    width: 70%;
    margin-top: 40px;
    img {
      float: right;
      margin-left: 12px;
      width: 120px;
      height: auto;
      border: solid 3px grey;
      border-radius: 6px;
    }
    blockquote {
      font-size: 1.8rem;
      border-left-width: 3px;
      position: relative;
      padding: 0 0 0 2.5em;

      &::before{
        font-family:Arial;
        content: "\201C";
        color:lightblue;
        font-size:4em;
        position: absolute;
        left: 10px;
        top:-20px;
      }
      &::after{
        content: '';
      }
      span {
        display: block;
        float: right;
        padding-top: 7em;
        font-size: 1rem;
      }
      @media (max-width: 1024px){

      }
      @media (max-width: 768px){
        span {
          padding-top: 1.6em;
        }
      }
      @media (max-width: 480px){

      }
    }
    @media (max-width: 620px){
      width: 100%;
    }

  }
  @media (max-width: 420px){
    background-position: 96% 16%;
    a.logo.custom-logo {
      img {
        height: 40px;
      }
    }
  }
  @media (max-width: 580px){
    background-position: 96% 20%;
  }
  .user-personal-bar .sign-in > a {
    padding-top: 0;
  }
  .navbar-toggle {
    margin-top: 0;
  }
  @media (max-width: 620px){

    a.logo.custom-logo {
      img {
        height: 60px;
      }
    }
  }

}

.portlet-content {

  .portlet-title-text {
    color: #fff;
    display: block;
    padding: 0.4em 0 0.6em 0.6em;
    max-width: 100%;
    background-color: #5ba1c8; // Old browsers
    @include filter-gradient(#5ba1c8, #3f7fa6, vertical); // IE6-9
    @include background-image(linear-gradient(top, #5ba1c8 0%,#3f7fa6 100%));
  }
  #contact-portlet {
    img {
      float: left;
      padding: 0.4em 0.6em;
    }
    p {
      &.signed {
        font-style: italic;
        font-size: 0.9em;
      }
    }
  }
}

.home {
  background-image: url(../images/logo-home-2x.png);
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: 96% 24%;
}
