@use "liferay-frontend-css-common/liferay/variables";
.c-events.c-row {
    display: grid;
    margin: 0;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    padding-bottom: 40px; 

    @media (min-width: variables.$screen-md-min) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}