$font-sans: "Franca", Helvetica, Arial, sans-serif !default;
$font-sansa-pro: 'Open Sans', Verdana, Arial, sans-serif !default;

$base-font-size: 1rem !default; // 16px
$default-font: $font-sans !default;

$title-line-height: 48px;
