.link-list {
    .link-list__item {
        border-bottom: 1px solid var(--bg-primary);
        padding: 2rem 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border: 0;
        }

        h4 {
            margin-bottom: .25rem;
            padding-bottom: .75rem;

            a {
                @include reset-font;
            }
        }
    }
}
