.c-announcements {
  color: $white;

  &:hover {
    text-decoration: none;
  }

  .c-announcements__counter {
    align-items: center;
    background-color: $yellow;
    border-radius: 17px;
    color: $color-delft-blue;
    font-size: 12px;
    justify-content: center;
    margin: -5px 0 0;
    padding: 3px 5px 1px;
    text-align: center;
  }
}
