.c-faq__item {
    margin-bottom: 0.75rem;

    &.collapsed {
        .c-faq__item__content__data {
            margin: 0;
            padding: 0;
        }
    }

    &.expanded {
        .c-faq__item__content__data {
            margin: 0.25rem 0 1.25rem;
            max-height: 9999px;
            padding-right: 2rem;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
        }
    }

    .c-faq__item__content__title {
        a {
            align-items: baseline;
            font-size: 1.25rem;

            > span {
                padding-right: 1rem;
            }
        }
    }

    .c-faq__item__content__data {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;

        a {
            @include default-link;
        }
    }
}
