@use "liferay-frontend-css-common/liferay/variables" ;


@media (min-width: variables.$screen-md-min) {
    #heading {
        display: flex;
        z-index: 2;
        position: relative;
    }

    #navigation {
        clear: both;
    }

    .site-title {
        flex-grow: 1;
        margin: 0;
        padding: 0;  
    }
    .nav-menu .user_login__link {
        float: right;
        margin: 21px 15px 76px 15px;
        color: $color-glacier;
    }

    
}

@media (max-width: variables.$screen-sm-max) {
    #heading {
        z-index: 1;
        position: relative;
    }

    .site-title {
        clear: both;
        text-align: center;

        a.custom-logo {
            padding: 20px;
            display: inline-block;
            width: 200px;
            margin-bottom: -108px;

            img {
                max-width: 100%;
            }
        }
    }
    .nav-menu .user_login__link {
        display: block;
        margin: 10px;
        text-align: center;
    }
}
    
.site-title {
    a.custom-logo {
        background: white; 
        text-align: center;
        vertical-align: middle;
        
        
        @media (min-width: variables.$screen-md-min) {

            width: 250px;
            height: 158px;
            line-height: 158px;
            margin-left: 0px;
            display: inline-block;
            
            img {
                max-width: 80%;
            }

        }
    } 
}
        
