$break-point : 814px;

#footer {
    background-color: #A09E8D;
    padding: 50px 0;
    color: white; 

    @media (min-width: $break-point) {
        .container-fluid-1280 {
            flex-direction: row;
            display: flex;
        }
    }
    
    a {
        color: inherit;
        font-weight: normal;
    }

    ul {
        @include cleanUL;
    }
    div {
        align-items: flex-end;
    }
    p {
        @media (min-width: $break-point) {
            flex-grow: 1;
        }
        text-align: center;
    }

    ul.media-links {
        margin-bottom: 20px;
    }
    
    ul.media-links li{ 
        display: inline;
        margin-right: 10px;
    
    }
    
}
