.portlet-content {
  overflow: auto;
}

.portlet-boundary_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_ {
  .portlet-content {
    overflow: visible;
  }
}
#portlet_com_liferay_portal_search_web_portlet_SearchPortlet {
  h2 {
    &.portlet-title-text {
      display: none;
    }
  }
}
.portlet-boundary_UserPortraits_ {
  .portrait {
    width:100% !important;
    height:auto !important;
  }
}
