.portlet-boundary_com_liferay_blogs_web_portlet_BlogsPortlet_ {

    .user-icon { 
        display:none; 
    } 
    
    h2.portlet-title-text { 
        display: none;
    }

    .widget-mode-simple .widget-metadata .inline-item-before {
        margin-right:0;
    }

    .widget-mode-simple-entry {
        margin-bottom:50px;
    }

    
}
