
.signed-out .thread-controls{
    display: none;
}

//item list view
.portlet-message-boards > section > .portlet-content{
    min-height: 70vh;
    box-shadow: none;
    padding-bottom: 50px;
    
    .portlet-title-text {
        z-index: 1;
        position: relative;
        margin-left: 180px;
    }
    .navbar {
        margin-top: 160px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $color-alpha-gray;
        border-radius: 0;
    }
    .navbar-header {
        position: absolute;
        left: 0;
        top: -270px;
        right: 0;
        background: $color-link;
        height: 120px;
        box-sizing: unset;
        border-top: 110px solid #FFF;
        border-bottom: 40px solid #FFF;
        z-index: 0;
        
        &::before {
            content: "";
            position: absolute;
            right: 50%;
            top: -110px;
            height: 120px;
            background: $color-link;
            width: 50vw;
            z-index: 0;
            box-sizing: unset;
            border-top: 110px solid #FFF;
            border-bottom: 40px solid #FFF;
        }
        &::after {
            content: "";
            position: absolute;
            top: -110px;
            left: 50%;
            height: 120px;
            background: $color-link;
            width: 50vw;
            z-index: 0;
            box-sizing: unset;
            border-top: 110px solid #FFF;
            border-bottom: 40px solid #FFF;
        }
    }
    
    .basic-search.input-group {
        position: relative;
        width: 100%;
        max-width: 729px;
        display: block;
        float: none;
        margin: 30px auto 40px;
        input, button {
            border: 0;
            height: 50px;
            border-radius: 0;
            padding: 0;
        }
        input {
            padding: 0 20px;
        }
        button {
            padding: 0 1em;
        }
    }
    
    .navbar .navbar-collapse {
        display: block;
        overflow: auto;
        margin: 0 auto;
    }
    
    .splitter, .breadcrumb {
        display: none !important;
    }
    
    .nav {
        &:before, &:after {
            display: none !important;
        }
    }
    
    .tabular-list-group {
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
        
        .list-group-item-field .sticker {
            width: 108px;
            height: 87px;
            line-height: 87px;
            background: $color-alpha-blue;;
            svg {
                height: 28px;
                width: 28px;
                color: $color-link;
            }
        }
        
        .list-group-item-content, .list-group-item-field {
            border-radius: 0;
            background: transparent;
            border: 0;
            border-top: 1px solid $color-alpha-gray;
            padding-top: 40px;
            padding-bottom: 48px;
        }
        .list-group-item {
            position: relative;
            &:first-child {
                .list-group-item-content, .list-group-item-field {
                    border-top: 0;
                }
            }
        }
        .list-group-item-content {
            h4 a {
                font-size: 22px;
                line-height: 33px;
                margin-bottom: 10px;
                color: #222;
                text-decoration: none;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 50px;
                    font-weight: 300;
                    font-size: 16px;
                    right: 40px;
                    width: 74px;
                    border-bottom: 1px solid $color-alpha-blue;
                }
                &::after {
                    content: "Read more >";
                    position: absolute;
                    bottom: 45px;
                    font-weight: 300;
                    font-size: 16px;
                    right: 0;
                    width: 115px;
                }
            }
            .text-default {
                font-weight: 300;
            }
        }
    }
    
    .category-subscription-types{
        text-align: right;
    }
    .thread-controls,
    .category-subscription,
    .category-subscriptions { 
        a {
            @include default_button;
        }
    }
    
    .button-holder,
    .category-subscription-types,
    .navbar .navbar-collapse .nav.navbar-nav,
    .taglib-header  {
        float: none;
        max-width: 903px;
        margin: 0 auto;
    }
    
    .navbar .navbar-collapse .nav.navbar-nav {
        background: $color-alpha-blue;;
        display: flex; 
        li {
            text-align: center;
            background: $color-alpha-blue;
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 33.33%;
        }
    }
    .navbar-default .navbar-nav > .active > a {
        background: $color-light-blue;
        &:hover, &:focus {
            background: $color-light-blue;
        }
    }
    .navbar .navbar-collapse .nav.navbar-nav li {
        a {
            font-weight: 400;
            color: $color-site-black;
            line-height: 70px;
            padding: 0;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(1) {
            order: 2;
        }
        &:nth-child(3) {
            order: 3;
        }
    }
    
    
    .lfr-code {
        border-color: #b1cedd;
    }
    
    td.line-numbers {
        background: rgba(151, 151, 151, 0.2);
    }
    
    td.lines {
        padding: 0 10px;
    }
    
    #_com_liferay_message_boards_web_portlet_MBPortlet_rjus__column1__0,
    .list-group-item-field + .list-group-item-content + .list-group-item-field {
        display: none;
    }
    
    .list-group-item-field .user-icon{
        display: inline-block;
    }
    
    .list-group-item-field .user-icon+.user-name {
        display: block;
    } 
    
    
    table.table {
        thead th {
            font-weight: 300;
        }
        
        .table-cell .user-info .user-icon {
            display: inline-block;
        }
        
        &.table-striped {
            border: 0;
            > {
                thead {
                    border: 0;
                }
                tbody {
                    border: 0;
                    > tr {
                        border: 0;
                    }
                }
                thead > tr > th {
                    border: 0;
                }
                tbody > tr {
                    > {
                        th, td {
                            border: 0;
                        }
                    }
                    &:nth-of-type(odd) {
                        background-color: rgba(128, 169, 191, 0.2);
                    }
                }
            }
        }
    }
    
}


//single item view
.portlet-message-boards > section > .portlet-content {
    .text-default, .thread-controls a {
        font-size: 16px;
        font-weight: 300;
    }
    
    .taglib-header {
        border: 0;   
    }
    
    .taglib-header .header-title {
        color: $color-site-black;
        @include title_1;
        margin-bottom: 0;
    }
    .card.list-group-card.panel {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        display: block;
        // display: flex;
        // flex-flow: row;
    }
    // .social-interaction {
    //     display: block;
    //     float: none;
    //     margin: 0 0 10px 20px;
    //     width: 100%;
    //     position: relative;
    //     text-align: left;
    //     width: 100%;
    
    //     > div {
    //         float: none;
    //     }
    // }
        
    .alert-info, 
    .portlet-msg-help,
    .portlet-msg-info, 
    .portlet-msg-progress,
    .statistics-panel-content,
    .form {
        margin: 0 auto!important;
        max-width: 903px;
        float: none;
        display: block;
    }
    
    .statistics-panel-content .panel-default > .panel-heading {
        // background-color: red;
    }

    .statistics-panel {
        border-radius: 0;
        border: 0;
        box-shadow: none;
        .panel-default {
            border-radius: 0;
            border: 0;
            box-shadow: none;
            
            > .panel-heading {
                border-radius: 0;
                border: 0;
                box-shadow: none;
                background-color: transparent;
                a {
                    color: #222;
                }
            }
        }
        .user-icon-default {
            margin: 0 auto;
        }
        .tabular-list-group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            padding: 0px;
            
            .list-group-item {
                height: auto;
            }
        }
    }
            
    .form {
        display: grid; 
        
        .card-tab-group {
            margin-top: 20px;
        }
        
        .taglib-header, .thread-controls {
            border: none;
            margin: 0;
            padding: 0;
        }
        
        .taglib-header {
            order: 2;
            margin-top: 20px;
        }
        .thread-controls {
            order: 1;
            text-align: center;
        }
        .thread-actions {
            display: inline-block;
            float: none;
            ul li {
                display: inline-block;
                float: none;
            }
        }
        .thread-container {
            margin: 0;
            order: 3;
            padding: 0;
        }
        .panel-heading {
            background: #fff;
            padding: 10px 0 0 0;
            // align-self: flex-start;
            // flex: 1;
            // order: 2;
            
            + .divider {
                display: none;
            }
        }
        .card-tab-group .card-tab {
            padding-left: 0;
        }
        .card-tab-group .card-tab:nth-child(n+2) .card-tab {
            margin-left: 20px;
        }
        
        //.message-user-display, .panel-heading .h5 {
            // display: block;
            // float: none;
            // margin: 0 0 10px 20px;
            // width: 100%;
        //}
        .panel-body {
            // flex: 1;
            // order: 1;
            padding: 0;
        }
        .card.list-group-card.panel .panel-body {
            padding: 10px 0;
        }
        
        .panel-body .message-content {
            padding: 0 50px 0 30px;
        } 
    }
        
    // Editing or creating forum items
    .panel-title {
        margin-bottom: 0;
    }
    
    .card-horizontal.main-content-card {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        background: #FFF;
        
        .panel-group {
            margin: 0;
            
            
            .panel {
                background: transparent;
                border: 0;
                box-shadow: none;
                margin: 0;
            }
            .panel-body {
                padding: 10px;
                background-color: #fff;
            }
            
        }
    }
        
    .reply-to-message {
        margin: 20px 0;
        
        .control-label {
            padding: 0 30px;
            font-size: 23px;
        }
        + .form-group {
            margin: 0 30px;
            + .field-wrapper {
                margin: 0 30px;
            }
        }
    }
    
    [aria-labelledby^="_com_liferay_message_boards_web_portlet_MBPortlet"] {
        padding: 0 30px;
    }
    
    .reply-to-message + .form-group + .field-wrapper {
        margin-bottom: 20px;
    }
    
    .panel-group {
        margin: 0;
        padding: 0;
        box-shadow: none;   
        border-top: 0;
        
        [aria-labelledby^="_com_liferay_message_boards_web_portlet_MBPortlet"] {
            &.panel, .panel-body, .panel-heading, .panel-title {
                margin: 0;
                padding: 0;
                box-shadow: none;
                border-top: 0;
            }
            .panel + .panel {
                margin: 0;
                border-top: 0px;
            }
            .panel-title {
                padding-left: 20px;
            }
            .panel-heading a.collapse-icon.collapse-icon-middle {
                margin-right: 15px;
                padding-right: 45px;
                border-radius: 0;
            }
            &.panel-default > .panel-heading + .panel-collapse > .panel-body {
                border: 1px solid $color-alpha-gray;
                margin: 10px 0;
            }
        }
    }  

    
    
    .tags {
        padding-top: 30px;
        span.badge.badge-default {
            font-size: 16px;
            padding: 4px 10px;
            border-radius: 6px;
            background: $color-alpha-blue;
            color: $color-site-black;
            font-weight: 400;
        }
    }
} 
            