.portlet-full-width,
.portlet-full-width-no-title {
  body & {
    .portlet {
      > .portlet-content {
        max-width: inherit;
        padding-left: 0;
        padding-right: 0;

        > .portlet-header {
          @include container-styles;
          margin-left: auto;
          margin-right: auto;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}

.portlet-full-width-no-title {
  body & {
    .portlet {
      > .portlet-content {
        > .portlet-header {
          h2.portlet-title-text {
            display: none;
          }
        }
      }
    }
  }
}

.portlet-borderless {
  body & {
    .portlet {
      > .portlet-content {
        @include container-styles;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

// Web Content Display homepage overrides
.portlet-journal-content {
  .t-1-unrestricted & {
    .portlet {
      > .portlet-content {
        max-width: inherit;

        .journal-content-article {
          > div {
            &:not(.page-header) {
              @include container-styles;
            }
          }
        }
      }
    }
  }
}
