@import "liferay-frontend-common-css/mixins";

.portlet {	
    > .portlet-content-editable {
        @include media-query(sm) {
            border-color: $portlet-topper-border;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown-action {
            position: absolute;
            right: 0;
            top: 2.5rem;
            z-index: 2;
        }
    }

    > .portlet-topper {
        position: relative!important;
        z-index: 1;

        @include media-query(sm) {
            opacity: 1;
            transform: translateY(0)!important;
        }
    }
}

.signed-in.controls-visible .portlet:hover {
    position: relative;
}