div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .row.search-layout.menu-column > .col-md-3 {
    display: none;
}
div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .col-md-9.result {
    max-width: 982px;
    float: none;
    margin: 0 auto;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset {
    text-align: center;
    
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div{
  display: block;
  margin: 0 auto 0 ;
  max-width: 686px;
  position: relative;
  min-height: 121px;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    background: $color-link;
    width: 50vw;
    z-index: 0;
    box-sizing: unset; 
    z-index: 1;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    background: $color-link;
    width: 50vw;
    z-index: 0;
    box-sizing: unset; 
    z-index: 1;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div > .form-group{
  display: block;
  padding: 36px 0 0 0;
  margin: 0;
  position: relative;
  z-index: 2;
}  

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div > .form-group input {
  border: 0;
  display:block;
  border-radius: 0;
  padding: 0;
  padding: 0 15px;
  height: 50px;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div > .lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper button  {
  padding: 0 1em;
  position: absolute;
  right: 0px;
  top: 34px;
  background: transparent;
  border: none;
  color: $color-site-black;
  font-size: 18px;
  line-height: 50px;
  margin: 0; 
  z-index: 3;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container > .fieldset > div > .lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper button span.lfr-btn-label {
    display: none;
}


div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container .tabular-list-group .list-group-item-content{
  border: 0px
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet fieldset.input-container .tabular-list-group .list-group-item-field{
  display: none;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet  .taglib-search-iterator-page-iterator-bottom {
  margin-bottom: 40px;
}

div#main-content.columns-max #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .portlet-icon-back,
.portlet-boundary_com_liferay_portal_search_web_portlet_SearchPortlet_ .portlet-content > .portlet-icon-back,
.portlet-boundary_com_liferay_portal_search_web_portlet_SearchPortlet_ .portlet-content > .portlet-content-container .taglib-header{
  display: none;
}

