.c-faq__item__content__data {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
}
.c-faq__item.expanded .c-faq__item__content__data {
    max-height: 9999px;
        transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
        transition-delay: 0s;
}

.c-faq__item .toggler span {
    -webkit-transition: 0.33s ease-in-out;
    -moz-transition: 0.33s ease-in-out;
    -o-transition: 0.33s ease-in-out;
    transition: 0.33s ease-in-out;
    transform: rotate(0);
    display: inline-block;
    color: #D8D8D8;
}

.c-faq__item.expanded .toggler span {
    transform: rotate(90deg);
}