$default-color: #6B6C7E;
$active: #272833;

.card-header {
  color: #F2F2F2;
  background-color: #007bff;
  border-color: #007bff;
}
.bs-stepper {
  h2 {
    text-transform: uppercase;
  }

  .btn-lg.btn-primary.disabled{
    color: #F2F2F2;
    background-color: #6B6C7E;
    border-color: #6B6C7E;
    font-size: 16px;
  }
  .btn-lg.btn-primary.d-inline, .btn-lg.btn-primary.enabled{
    color: #F2F2F2;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
  }

  .btn-lg.btn-primary.d-inline:hover, .btn-lg.btn-primary.enabled:hover{
    color: #F2F2F2;
    background-color: $active;
    border-color: $active;
  }
}

.bs-stepper-indicators {
  a {
    color: $default-color;

    span {
      padding-right: 0.5rem;
    }
  }

  a.active {
    color: $active;
    text-decoration: underline;
  }

  .step {
    padding: 0 1rem;
  }

  li {
    color: $default-color;
  }

  li.active {
    color: $active;
  }

  .icon-circle.completed {
    color: $default-color;
  }
  .icon-circle-blank.active {
    color: $active;
  }
}

.registration-container {
  .registration-item {
    margin: 1rem 0;
    padding: .5rem;
    border: 1px solid #d2d2d2;
  }

  .card-header {
    .event-edition {
      font-size: .8rem;
    }
  }

  .card-body {
    .card-title {
      font-size: 2rem;
    }
  }
}

.registration-controls {
  
}