$default-color: #141E95;
$active: #FFD434;
$completed-color: #00E399;
$font-sans: "Franca", Helvetica, Arial, sans-serif !default;
$font-sansa-pro: 'Open Sans', Verdana, Arial, sans-serif !default;

$base-font-size: 1rem !default; // 16px
$default-font: $font-sans !default;

.card-header {
  color: #F2F2F2;
  background-color: #007bff;
  border-color: #007bff;
}
.bs-stepper {
  h2 {
    text-transform: uppercase;
  }
  ul li {
    font-family: $default-font;
    font-size: $base-font-size;
  }

  ul li:where([class*="icon-circle-blank"]):before {
    content: "\25FB";
  }

  ul li:where([class*="icon-circle-blank"]):where([class*="active"]):before {
    content: "\25FC";
  }

  ul li:where([class*="icon-circle"]):where([class*="completed"]):before {
    content: "\2713";
  }
  .icon-circle.completed {
    color: $completed-color;
  }
  .icon-circle-blank.active {
    color: $active;
  }
}

.bs-stepper-indicators {
  a {
    color: $default-color;

    span {
      padding-right: 0.5rem;
    }
  }

  a.active {
    color: $active;
    text-decoration: underline;
  }

  .step {
    padding: 0 1rem;
  }

  li {
    color: $default-color;
  }

  li.active {
    color: $active;
  }

}

.registration-container {
  .registration-item {
    margin: 1rem 0;
    padding: .5rem;
    border: 1px solid #d2d2d2;
  }

  .card-header {
    .event-edition {
      font-size: .8rem;
    }
  }

  .card-body {
    .card-title {
      font-size: 2rem;
    }
  }
}

.registration-controls {
  
}