// Spotlight gradient
.spotlight-gradient {
  --gradient: var(--bg-primary);
  background-image: linear-gradient(to bottom, transparent 0, var(--bg-primary) 100px, var(--bg-primary) 100%);
  background-image: linear-gradient(to bottom, transparent 0, var(--gradient) 100px, var(--gradient) 100%);
  transition: --gradient .25s ease-in-out;
}

// Sphere green gradient (list image placeholders)
.sphere-green-gradient {
  -webkit-clip-path: circle(42% at 50% 50%);
  background-image: linear-gradient(90deg, #1b32e8 0, #0be399 80%);
  clip-path: circle(42% at 50% 50%);
  transform: translate3d(18%, -26%, 0);
}

// Banner sphere gradient
.sphere-banner-gradient--inner--green,
.sphere-banner-gradient--inner--lightblue {
  -webkit-clip-path: circle(50% at 50% 50%);
  bottom: 90px;
  clip-path: circle(50% at 50% 50%);
  content: "";
  left: 0;
  padding-top: 150%;
  position: absolute;
  transform: translate3d(-25%, 46%, 0);
  width: 150%;
  z-index: 0;
}

.sphere-banner-gradient--inner--green {
  --header-gradient: #00e399;
  background-image: linear-gradient(20deg, #00e399 60%, #00e399 0, transparent);
  background-image: linear-gradient(20deg, var(--header-gradient) 60%, var(--header-gradient) 50%, transparent 100%);
}

.sphere-banner-gradient--inner--lightblue {
  --header-gradient: #00C2EB;
  background-image: linear-gradient(20deg, #00C2EB 60%, #00C2EB 0, transparent);
  background-image: linear-gradient(20deg, var(--header-gradient) 60%, var(--header-gradient) 50%, transparent 100%);
}

// Picture copyright gradient
.picture-copyright-gradient {
  background-image: linear-gradient(135deg, rgb(var(--bg-primary__rgb) / .45), rgb(var(--bg-primary__rgb) / .95) 100%);
}

// Image link gradient
%image-link-gradient {
  position: relative;

  &:before {
    background-image: linear-gradient(60deg, var(--bg-primary), transparent 40%);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease-in-out;
    width: 100%;
  }
}

@media (min-width: 640px) {
  // Banner sphere gradient
  .sphere-banner-gradient--inner--green,
  .sphere-banner-gradient--inner--lightblue {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  // Banner sphere gradient
  .sphere-banner-gradient--inner--green,
  .sphere-banner-gradient--inner--lightblue {
    padding-top: 120%;
    width: 120%;
  }
}

@media (min-width: 1024px) {
  // Page background gradient
  .bg-gradient {
    &:before {
      -webkit-clip-path: circle(50% at 50% 50%);
      background-image: linear-gradient(-330deg, hsla(190, 100%, 46%, 0.15) 60%, hsla(190, 100%, 46%, 0) 85%);
      clip-path: circle(50% at 50% 50%);
      content: "";
      padding-top: 80%;
      position: fixed;
      transform: translate3d(35%, 15%, 0);
      width: 80%;
      z-index: 0;
    }
  }

  // Banner sphere gradient
  .sphere-banner-gradient--inner--green,
  .sphere-banner-gradient--inner--lightblue {
    transform: translate3d(-40%, 30%, 0);
  }

  .sphere-banner-gradient--inner--green {
    background-image: linear-gradient(45deg, #00e399 0, #00e399 50%, transparent 100%);
  }

  .sphere-banner-gradient--inner--lightblue {
    background-image: linear-gradient(45deg, #00C2EB 0, #00C2EB 50%, transparent 100%);
  }
}

@media (min-width: 1280px) {
  // Banner sphere gradient
  .sphere-banner-gradient--inner--green,
  .sphere-banner-gradient--inner--lightblue {
    transform: translate3d(-50%, 30%, 0);
  }
}

@media (min-width: 1536px) {
  // Banner sphere gradient
  .sphere-banner-gradient--inner--green,
  .sphere-banner-gradient--inner--lightblue {
    transform: translate3d(-55%, 30%, 0);
  }
}
