.c-downloads-list__item.not_visible {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
}

.c-downloads-list {
    &.expand .c-downloads-list__item.not_visible {
        max-height: 9999px;
        transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
        transition-delay: 0s;
    }
    .expand_list {
        .expand {
            display: inline;
        }
        .collapse {
            display: none;
        }
    }
    &.expand .expand_list {
        .expand {
            display: none;
        }
        .collapse {
            display: inline;
        }
    }
}

.c-downloads-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
}

@media screen and (min-width: 600px) {
    .c-downloads-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}