

#banner {
    position: relative;
    padding: 20px 0;

    a:active, a:hover, a:focus {
		text-decoration: none;
    }

    @include sm {
		padding: 40px 0 0;
	}

    .portlet-topper {
		z-index: 1;
	}
    
}

#banner #portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet,
#banner #portlet_com_liferay_portal_search_web_portlet_SearchPortlet {
    margin-bottom:0;
}



/* Site Heading */

#banner #heading .site-name {
    color:#fff;
    text-shadow:1px 1px 1px#444;
    vertical-align:middle;
    font-size:150%;
    margin-left: 8px;
    
    @media only screen and (min-width: 768px) {
        letter-spacing:2px;
        margin-left:20px;
    }
}




/* User Personal Bar */

#banner .user-personal-bar {
        @media only screen and (min-width: 768px) {
            position: absolute;
            right: 20px;
            top: 0;
        }

        .panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
        }
        
        .icon-user, .user-full-name {
			display: none;
        }
        
        .panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
        }
        
        .user-avatar-link {
			line-height: 0;
			padding: 18px 4px;

			@include sm {
				padding: 8px 0 8px 14px;
			}
        }
        
        .sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 15px 4px;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 32px;
		}



}


body.signed-in #banner .user-personal-bar { display:none;}


/* Navigation Portal */

#banner {
    .portlet-navigation {
        background: white;
    }

    #navigationCollapse .navbar-blank>li:hover>a, 
    #navigationCollapse .navbar-blank>li.hover>a, 
    #navigationCollapse .navbar-blank>li.active>a, 
    #navigationCollapse .navbar-blank>li .dropdown-menu .active>a {
        color: $black;
    }

    #navigationCollapse .navbar-blank>li>a {
        color: $solid-color;
    }

    .lfr-nav-child-toggle {
        .lexicon-icon {
            height:.50em;
            width:.50em;
            margin-left:3px;
        }
    }

    .navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include sm {
			padding: 0 0 0 8px;
			position: relative;

			.lexicon-icon {
				width: 8px;
			}
		}
	}

    .navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;
			border-radius:0;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {

			a {
				color: $complementary-color;
			}
		}
    }
    
    #navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
            padding: 0;
            margin: 0;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #000;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}
}

#banner .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #869cad;
    white-space: nowrap;
}

#banner .dropdown {
    @media (max-width: 676px) {       
        > .dropdown-menu {
            position:relative;
            width: 100%;
            max-width: 100%;
            border: 0;
            padding-top:0;
            font-size:85%;
        }

        > li > a {
            padding: 3px 6px;
        }
    }
}

#banner .lfr-nav-item.nav-item {
    @media (max-width: 676px) {
        border-bottom:1px solid $mercury-grey;
    }   
}

#banner .navbar-form .search-input {
    @media (max-width: 676px) {
        background: $color-white;
        border-radius:0;
    }   
}

.nohome .navbar-header {
    margin-bottom: 1.3em;
    width: 100%;
}

.navbar-nav>li>a {
    @media only screen and (min-width: 768px) {
        line-height:28px;
        padding:15.5px 15px;
    }
}

.navbar-collapse {
    @include sm {
        padding-right: 4px;
    }
}

.navbar-toggle {
    margin: 12px 0 12px 6px;
}




/* Search Bar  */

#banner #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .btn.btn-light.btn-unstyled {
    position: absolute;
    right:0;
    top:0;

    &:hover {
        color: $shark-grey;
        background-color: transparent;
        border-color: transparent;
	}
	
	svg {
		fill: #47647A;
	}

    
}

#banner .form fieldset.input-container {
    position: relative;
}





























    