.portlet-decorate {
	.portlet-content {
		border-width: 0;
		border-color: $color-white;
		padding: 0;
	}
}


.portlet-barebone {
	.portlet-content {
		padding: 0;
	}

	.portlet-header { 
		display:none;
	}
}

.training-decorate {
	background-color: $grey;
}
