/* Colors */
$astral-blue: #397FA8;
$alto-grey: #D8D8D8;
$gallery-grey: #ECECEC;
$black: #000;
$color-white: white;
$hippie-blue: #5A91B3;
$baby-blue: #E0FFFF;
$silver: #CCCCCC;
$fiord-blue: #40506D;
$nepal-blue: #91B6C8;
$grey: grey;
$mercury-grey: #E1E1E1;
$danube-blue: #5BA1C8;

$bg-color: $color-white;
$bright-color: #65B6F0;
$link-hover: #40A4EC;
$complementary-color: #869CAD;
$solid-color: #47647A;
$shark-grey: #212529;
$steel-blue: #3F7FA6;


$portlet-topper-bg: $steel-blue;
$portlet-topper-border: $steel-blue;


$portlet-topper-color: #FFF;
$portlet-topper-link-color: #FFF;
$portlet-topper-link-hover-color: $portlet-topper-link-color;
$portlet-content-border-radius: 0 0 2px 2px;
$portlet-topper-border-radius: 4px 4px 0 0;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-md: 992px !default;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-md-max: ($screen-lg-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;

$media-query-sizes: (
	xs: $screen-xs,
	sm: $screen-sm,
	md: $screen-md,
	lg: $screen-lg
);

@mixin tab-focus() {
	// WebKit-specific. Other browsers will keep their default outline style.
	// (Initially tried to also force default via `outline: initial`,
	// but that seems to erroneously remove the outline in Firefox altogether.)
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

