configuredGroupIds="34326\ 34839\ 34860"
dsdParentSiteID="34326"
structureKeyToFolderJsonMap="{\"Blog\":\"Blogs\",\"New idea\":\"New ideas\",\"Best practice\":\"Best practices\",\"Location\":\"Locations\",\"Eventlocation\":\"Locations\",\"Building\":\"Locations\",\"Room\":\"Locations\",\"Expert\":\"Experts\",\"Registration\":\"Registrations\",\"Session\":\"Registrations\",\"Dinner\":\"Registrations\",\"BusTransfer\":\"Registrations\"}"