// Sansa Pro Semibold (served as regular weight)
// --------------------------------------------------

$path-fonts: 'settings/fonts/' !default;

// Import the font file as regular weight
// --------------------------------------------------

@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 400;
  src: url('#{$path-fonts}sansa-pro.eot');
  src: url('#{$path-fonts}sansa-pro.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}sansa-pro.woff') format('woff'),
  url('#{$path-fonts}sansa-pro.ttf')  format('truetype'),
  url('#{$path-fonts}sansa-pro.svg#sansa-pro') format('svg');
}

