// Sansa Pro Bold
// --------------------------------------------------

$path-fonts: 'settings/fonts/' !default;

// Import the font file as bold weight
// --------------------------------------------------

@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 700;
  src: url('#{$path-fonts}sansa-pro-bold.eot');
  src: url('#{$path-fonts}sansa-pro-bold.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}sansa-pro-bold.woff') format('woff'),
  url('#{$path-fonts}sansa-pro-bold.ttf')  format('truetype'),
  url('#{$path-fonts}sansa-pro-bold.svg#sansa-pro-bold') format('svg');
}

