// Open Sans Light
// --------------------------------------------------

$path-fonts: 'settings/fonts/' !default;

// Import the font file as light weight
// --------------------------------------------------

@font-face {
  font-family: 'Open Sans';
  font-style: light;
  font-weight: 300;
  src: url('#{$path-fonts}open-sans-v17-latin_greek_cyrillic-300.eot');
  src: url('#{$path-fonts}open-sans-v17-latin_greek_cyrillic-300.eot?#iefix') format('embedded-opentype'),
  url('#{$path-fonts}open-sans-v17-latin_greek_cyrillic-300.woff') format('woff'),
  url('#{$path-fonts}open-sans-v17-latin_greek_cyrillic-300.ttf')  format('truetype'),
  url('#{$path-fonts}open-sans-v17-latin_greek_cyrillic-300.svg#open-sans-light') format('svg');
}

