@use "liferay-frontend-css-common/liferay/variables" ;
$items: 11;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

/* Basic Styles */

.nav-menu {
    position: relative;
    
    /* Toggle Functionality */
    #toggle-menu{
        display: none; //hides the checkbox
    }
    
    a {
        text-transform: uppercase;
        font-weight: normal;
    }
    
    @media (max-width: variables.$screen-sm-max) {
        @import "mobile_menu";
    }
    
    @media (min-width: variables.$screen-md-min) {
        order: 3; 
        @import "regular_menu";
    }
}


