.c-card{
    &.news-item {
        margin: 0;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column;
    }
    &.news-item .img-cropper {
        @include center_cropped($width:100%, $height:370px);
        height: 370px;      
        background-color: $color-silver;
    }
}

.c-card { 
    &__date {
        margin-top: 7px;
    }
    &__title {
        margin-bottom: 0;
        flex-grow: 1;
    }
}