.c-featured-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    // padding-bottom: 20px;
    border-bottom: 1px solid $color-alpha-gray;
    
    &__image {
        height: 413px;
        @include center_cropped($width:100%, $height:413px)
    }    
    &__title {
        margin-top: 34px;
        margin-bottom: 6px;    
    }
    &__date {
        margin-bottom: 30px;
    }
        
}


