.news-page__item,
.projects-page__item { 
    padding-bottom: 40px;
    
    &__content {
        padding-right: 44px;
        padding-top: 40px;
    }
    &__content__title {
        margin-bottom: 0;
    }
    &__content__date {
        margin-bottom: 36px;
    }
    &__meta-data {        
        &__image {
            width: 100%;
        }
    }
}

