.c-cart__cart {
  color: $white;

  &:hover {
    text-decoration: none;
  }

  .c-cart__item__counter {
    align-items: center;
    background-color: $yellow;
    border-radius: 17px;
    color: $dark-blue;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: normal;
    margin: -5px 0 0;
    padding: 3px 5px 1px;
    right: 0;
    text-align: center;
    top: -6px;
  }
}
.mini-cart-close {
  color: black;
}
.mini-cart {
  &:not(.is-open) {
    position: relative !important;
    height: 0.75rem !important;
    width: 0.75rem !important;
    top: -20px !important;
    right: -20px !important;
  }

  &-opener {
    color: var(--mini-cart-icon-color, $white) !important;

    &::before {
      background-color: $yellow  !important;
      font-size: 12px !important;
      color: #141e95 !important;
    }
  }
}
.mini-cart-wrapper {
  display: flex !important;
  color: #141e95 ;
  height: fit-content !important;
  position: relative !important;
}

.mobile-container {
  .mini-cart-wrapper {
    width: 100%;
  }
}

//.quantity-selector {
//  display: none !important;
//}

.add-to-cart {
  .btn-block {
    width: auto;
  }
}