@use "liferay-frontend-css-common/liferay/variables";
.c-events.page {
    padding-bottom: 40px;
    margin-bottom: 26px;
    background: white;

    .c-events__item {
        padding-right: 0;
    }
    .c-events__item__uploads{
        margin-top: 40px;
        margin-bottom: 40px;
        .presenter:before {
            content: ",";
            margin-left: -0.2em;
        }
        .presenter:first-child::before {
            content: "By";
            margin-left: 0;
        }
        .presenter:last-child::before {
            content: "and";
            margin-left: 0;
        }

        .company::before {
            content: "/";
            padding-left: 0.2em;
            padding-right: 0.2em; 
        }
    }
}

@media (min-width: variables.$screen-md-min) {

    .c-events.page {
        .media-section {
            float: right;
            width: 50%;
            margin-left: 33px;

            img {
                width: 100%;
            }
        }
    }
}
