.page-item {
  padding: 5px;
}

.panel-body hr {
  border-top-color: black;
  border-top-width: 3px;
}

.c-yesno {
  align-items: center;
  border-radius: 17px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  padding: 3px 5px 1px;
  text-align: center;


  &.c-yes {
    background-color: greenyellow;
    color: #FFFFFF;
  }

  &.c-no {
    background-color: red;
    color: #FFFFFF;
  }

}

.c-subscription-container {
  padding: 5px;
  &:hover {
    /*box-shadow: 3px 3px 10px 0 rgba(117,117,117,1);*/
    border: #00E399 3px solid;
  }
}
.c-subscription {
  align-items: center;
  border-radius: 17px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  padding: 3px 5px 1px;
  text-align: center;


  &.c-state-running {
    background-color: #f47934;
    color: #FFFFFF;
  }

  &.c-state-expired {
    background-color: #000000;
    color: #FFFFFF;
  }

  &.c-state-terminated {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
    border-width: medium;
  }

  &.c-support {
    background-color: #FFFFFF;
    border-color: #f47934;
    border-width: medium;
    color: #f47934;
    width: 100%;
  }


}

.collapse-icon.collapse-icon-middle .collapse-icon-closed, .collapse-icon.collapse-icon-middle .collapse-icon-open {
  transform: translateY(0%);
  font-size: large;
  color: #FFD434;
  position: inherit;

  &:hover {
    color: #00E399
  }
}

.h1 {
  text-transform: none;
}

.bottom-align {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 15px;
}