$list-phases: 'submitted' 'planned' 'financed' 'started';
.c-new-ideas {
    overflow-x: hidden;

    &__item {
        margin-bottom: 35px;
        display: flex;
        flex-flow: column;
    }
    
    &__item::after {
        content: "";
        display: block;
        // border-bottom: 1px solid $color-silver;
        margin: 30px -15px 0 -15px;
    }
    &__item__phase {
        .submitted, .planned, .financed, .started {
            display: none
        }
        
        @each $item in $list-phases {
            &.#{$item} > .#{$item}{
                display: inline;
            }
        }
    }
    &__item__title {
        flex-grow: 1;
    }
    &__item__summary {
        min-height: 135px;
        padding-bottom: 10px;
        

        p {
            display: inline;
            margin: 0;
        }
    }   
}

@mixin ideas-grid-label {
    display: inline-block;
    min-width: 60px;
    margin: 0 6px 0 0;
    font-weight: 400;
}

.c-new-ideas__item__phase strong {
    @include ideas-grid-label();
}

.asset-ratings.ideas-adt {
    font-weight: 300;
    p {
        @include ideas-grid-label();
        vertical-align: top;    
    }

    .taglib-ratings.stars {
        display: inline-block;
        padding: 0;
    }
    .liferay-rating-score,
    .liferay-rating-vote {
        display: inline;
        padding: 0;
        > div {
            
            .rating-label {
            
            }
        }
    }
}

.asset-ratings.only-average {
    .liferay-rating-vote {
        display: none;
    }
}
.asset-ratings.only-votes {
    .liferay-rating-score {
        display: none;
    }   
}