$break-point : 814px;

.blog,
.project {
    &-page {
        .expert-data-small,
        .expert-data,
        .expert-data-small .expert-data__content,
        .expert-data .expert-data__content {
            background: transparent;
            display: inline-block;
            line-height: 30px;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .expert-data-small, 
        .expert-data {
            background: transparent;
        }
    }

    &-page__item {
        margin-bottom: 65px;
        padding-bottom: 10px;

        &:last-child {
            border-bottom: none;
        }

        @media (min-width: $break-point) {
            margin-bottom: 4rem;
        }
    }

    &-page__item__meta-data__image,
    &-page__item__meta-data__image-backup {
        @include center_cropped ($width: 100%, $height: 279px);
    }

    &-page__item__meta-data__image {
        &.small-form {
            @include center_cropped ($width: 186px, $height: 100px);
        }

        &.square-form {
            @include center_cropped ($width: 186px, $height: 186px);
            height: 186px;
        }
    }

    &-page__item__meta-data__image-backup {
        background-color: $color-silver;
        height: 240px;
    }

    &-page__item__meta-data__title {
        @media (max-width: ($break-point - 1)) {
            margin-top: 20px;
        }
    }

    &-page__item__meta-data__expert {
        display: inline-block;
        line-height: 54px;
        margin: 0 0 2rem;
        padding: 0;
        vertical-align: top;

        .expert-data__content p {
            display: none;
            margin-bottom: 0;

            &:nth-child(1) {
                display: inline-block;
                line-height: 54px;
                margin: 0 10px;
                padding: 0;
                vertical-align: top;
            }
        }

        .expert-data__image {
            display: inline-block;
        }
    }

    &-page__item__meta-data__date {
        display: inline-block;
        line-height: 54px;
        margin: 0;
        padding: 0;
        vertical-align: top;

        span {
            padding-right: 12px;
        }
    }

    &-page__item__meta-data__content {
        font-weight: 300;

        p {
            display: inline;
        }
    }

    @media (min-width: $break-point) {
        &-page .left-column {
            float: left;
            width: 375px;

            &.small-form {
                width: 216px;
            }
        }

        &-page .right-column {
            margin-left: 414px;

            &.small-form {
                margin-left: 216px;
            }
        }
    }

    @media (min-width: 1024px) {
        &-page .left-column {
            width: 480px;
        }

        &-page .right-column {
            margin-left: calc(480px + 4rem);
        }
    }
}
