@use "liferay-frontend-css-common/liferay/variables";

@mixin general-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 1260px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-fluid-1280 {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#wrapper {
    flex-flow: column;
    display: flex;
    padding: 0;

    section#content {
        width: 100%;
        flex-grow: 1;
    }

    header#banner {
        width: 100%;
        flex-grow: 0;
    }

    footer#footer {
        width: 100%;
        flex-grow: 0;
    }
}

section#content {
    @media (max-width: variables.$screen-sm-max) {
        padding-top: 60px;
    }
}

div#main-content.columns-max {
    max-width: 1230px;
    margin: 0 auto;
}

#content > #main-content.unrestricted {
    overflow-x: hidden;
}

.t-1-unrestricted {
    .portlet > .portlet-topper,
    .portlet > .portlet-content {
        @include general-container;
    }
}