body {
    background: $bg-color;
    font-size: 14px;

    @include media-query(null, $screen-sm-min){
        font-size: 16px;
    }

}

a {
    color: $bright-color;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:hover,&:focus {
        color: $link-hover;
        text-decoration: underline;
    }
}

#wrapper {
	padding: 0;
}

.container-fluid-1280 .row {
    margin:15px 0;
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}


.hide-accessible {
    display: none;
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}


.overlay-focused:focus {
    @include media-query(null, $screen-sm-max) {
		outline: 0;
	}
}


.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}