groupId=L"20119"
structureKeyMap="{'65653':'Banner','65661':'Building','65949':'Bustransfer','65931':'Dinner','65541':'Download',
'65561':'Downloadgroup','65684':'Event','66159':'Eventlocation','65700':'Expert','65726':'Location','65750':'Presentation',
'65670':'Registration','69253':'Room','65885':'Session','65583':'Subscription','65592':'Terms', '99012':'Download'}"
